<div class="articlepart">
  <div class="cover">
    <a href="http://clickc.admaster.com.cn/c/a87848,b1952621,c362,i0,m101,8a1,8b2,h" target="_blank">
      <img src="http://static.ftchinese.com/img/AD/She-sH5/carousel0.jpg" alt="slide0">
    </a>
  </div>
  <div class="describe">
    <a href="http://clickc.admaster.com.cn/c/a87848,b1952621,c362,i0,m101,8a1,8b2,h" target="_blank">遇见知己，更看见自己。加入She's Mercedes，与全球精英女性光彩相映。
    </a>
  </div>
  
  <img class="logo" src="http://static.ftchinese.com/img/AD/She-sH5/she-logo.png" alt="she-logo">
</div>