<div class = "carouselpart">
  <div class="swiper-container" id="swiperContainer">

      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="" target="_blank">
              <img src="" alt="slide0">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="" target="_blank">
              <img src="" alt="slide1">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="" target="_blank">
              <img src="" alt="slide2">
            </a>
          </div>
      </div>

      <div class="swiper-pagination"></div>

  </div>

  <p class="word-container" id="wordContainer">
    Words for slide0
  </p>
</div>