<div class = "carouselpart">
  <div class="swiper-container" id="swiperContainer">

      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="http://special.mercedes-benz.com.cn/shes_mercedes/?smtid=505114309z21oxz1aiy6zacz0z" target="_blank">
              <img src="http://static.ftchinese.com/img/AD/She-sH5/carousel0.jpg" alt="slide0">
            </a>
          </div>
          <!--
          <div class="swiper-slide">
            <a href="" target="_blank">
              <img src="" alt="slide1">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="" target="_blank">
              <img src="" alt="slide2">
            </a>
          </div>
          -->
      </div>
      <!--
      <div class="swiper-pagination"></div>
      -->
  </div>

  <p class="word-container" id="wordContainer">
    遇见知己，更看见自己。<br>加入She's Mercedes，与全球精英女性光彩相映。
  </p>
</div>