<div class="videopart">
  <!--
  <video id="videoContainer" controls  muted="true" width="300" height="250" airplay="deny" x-webkit-airplay="deny" playsinline webkit-playsinline>
    Your browser does not support the <code>video</code> element.
  </video>
  -->
 
  <script src="https://p.bokecc.com/player?vid=461A1C4F1296FA649C33DC5901307461&siteid=922662811F1A49E9&autoStart=true&width=300&height=250&playerid=3571A3BF2AEC8829&playertype=1" type="text/javascript"></script>

  <!--
  <div id="cc_video_461A1C4F1296FA649C33DC5901307461_1665838">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="300" height="250" id="cc_461A1C4F1296FA649C33DC5901307461">
      <param name="movie" value="https://p.bokecc.com/flash/player.swf?vid=461A1C4F1296FA649C33DC5901307461&amp;siteid=922662811F1A49E9&amp;playerid=3571A3BF2AEC8829&amp;playertype=1&amp;autoStart=true"><param value="transparent" name="wmode">
      <param name="allowFullScreen" value="true">
      <param name="allowScriptAccess" value="always">
      <embed src="https://p.bokecc.com/flash/player.swf?vid=461A1C4F1296FA649C33DC5901307461&amp;siteid=922662811F1A49E9&amp;playerid=3571A3BF2AEC8829&amp;playertype=1&amp;autoStart=true" width="300" height="250" name="cc_461A1C4F1296FA649C33DC5901307461" wmode="transparent" allowfullscreen="true" allowscriptaccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash">
    </object>
  </div>
  -->

  <div class="coverplay-btn" id="coverplayBtn">
  </div>
</div>