* {
  padding:0;
  margin:0;
}
html{
  background:#FFF;
}
body {
  width:300px;
  height:600px;
  margin:0 auto;
  background: #000;
  font-family: Helvetica Neue,Verdana,Arial,Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,STHeiti,Microsoft Yahei,SimSun,sans-serif;
  font-size:16px;
}

/********Video part********/
.videopart {
  width: 300px;
  height: 250px;
  background: #000;
  position:relative;
  /*
  video {
    width: 300px;
    height: 250px;
  }
  */
  .coverplay-btn {
    position: absolute;
    height: 59px;
    width: 59px;
    background: url(http://static.ftchinese.com/img/AD/She-sH5/playbutton.png) center center no-repeat;
    left: 150px;
    margin-left:-29.5px;
    top:125px;
    margin-top:-29.5px;
    z-index:10;
    cursor: pointer;
    display: none;
  }

}



/*********Cut line********/
.cutline {
  width:268px;
  height:15px;
  display:block;
  margin:10px auto;
}

/*******Carousel part********/
.carouselpart {
  width: 300px;
  height: 315px;
 /* background: darkgray;*/
}
.swiper-container {
  width:270px;
  /*height:240px;如果有轮播*/
  height:220px;
  margin:0 auto;
  /*border: thin solid red;*/
  .swiper-slide {
    width:270px;
    height:200px;
    /*border:1px solid blue;*/
    margin:0;
    padding:0;
    a,img{
      width:270px;
      height:200px;
      padding:0px;
      margin:0px;
      display:block;
    }
  }
  .swiper-pagination-bullet {
    /*
    width:7px;
    height:7px;
    */
    background: #63CCAD;
    opacity: .2;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #63CCAD;
    /*
    width:10px;
    height:10px;
    */
  }
}

.word-container {
  width:270px;
  height:70px;
  margin:0 auto;
  /*border: thin solid green;*/
  font-size:.9em;
  color:white;
  text-align: center;
}